<template name="modalLogin">

  <div class="_modalLogin" id="modalLogin">

  {{#unless currentUser}}
      <div class="_modalbox">

      {{#if showModal}}
      {{> register}}
      {{else}}
      {{> login}}
      {{/if}}
      </div>
  {{else}}

      <div class="_modalbox">
      <div>
        <h2>Welcome {{ currentUser.username }}</h2>
      </div>
      <br>
      <button class="_formLogin_submit">Access</button>
    </div>


  {{/unless}}

  </div>


</template>

<template name="register">
  <form>
    <h2>New account</h2>
    <div class="_formLogin">
      <input class="_formLogin_input" type="text" name="username" placeholder="Username" autocomplete="off" /><br />
      <input class="_formLogin_input" type="email" name="email" placeholder="Email" autocomplete="off" /><br />
      <input class="_formLogin_input" type="password" name="password" placeholder="Password" autocomplete="off"/><br />
      <input class="_formLogin_submit" type="submit" value="Create" />
    </div>
  </form>
    <a  id="loginLink" href="#" class="_loginlink"><h3>Already registered</h3></a>
</template>




<template name="login">
    <h2>Welcome</h2>
    <form>
      <div class="_formLogin">
        <input class="_formLogin_input" type="text" name="username" placeholder="Username" autocomplete="off"/><br />
        <input class="_formLogin_input" type="password" name="password" placeholder="Password" autocomplete="off"/><br />
        <input class="_formLogin_submit" type="submit" value="Log in"/>
      </div>
    </form>
    <a id="createAccountLink" href="#" class="_loginlink" ><h3>Create a new account</h3></a>
</template>
