body{
	background-image: url('images/paris.jpg');
	background-size: cover;
  overflow: hidden;
}
body:before {
    content: '';
    background: url('images/paris.jpg') fixed 0 0;
    -webkit-filter: blur(5px);
           -moz-filter: blur(5px);
            -ms-filter: blur(5px);
             -o-filter: blur(5px);
                filter: blur(5px);
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: -1;
}

._body_header{
  position: relative;

  width: 100%;
  background-color:#402E3D;
  height: 70px;
  color:white;
}
._headerText{
  font-size: 20px;
  padding: 10px;
}
._body_content{
    height:100%;
    display: flex;
    flex-wrap:wrap;
    float: left;
}
.full{
  width: 100%;
}
.notfull{
  width: 80%;
}
._content_main{
  width: 100%;
  float: left;
  margin: auto;
  text-align:center;

}
._workinProgress{
  background-color: rgba(82,82,82,.20);
  height: 700px;
  margin: 20px;

  padding-top: 200px;
  border-radius: 20px;
}
