$playerWidth: 100%;
$font-size:      16px;
$bgc :  rgba(64,46,61,.55);
$inputColor : #FFF;
$buttonSize: 50px;

._video_player{
  flex-grow: 1;
  margin: auto;
  padding:0px 40px;
	width: 55%;
  min-width: 600px;
  min-height: 500px;
  height: 100%;
  position:relative;
  float: left;
  #player{
    width : 100%;
    height : 48%;
    min-height: 300px;
    min-width: 400px;
  }
  ._controller{
    width : $playerWidth;
    min-width: 600px;
    margin: auto;
    background-color: $bgc;
    .buttons-controls{
      display: inline-block;
      margin-right: 20%;

      .player-button{
          background-color: transparent;
          color: $inputColor;
          width: $buttonSize;
          height: $buttonSize;
          margin: 10px 20px;
          border-radius: 50%;
          border: 1px solid $inputColor;

          -webkit-appearance:none;
          outline: none;
          &:hover{
            color: $inputColor;
            background-color: rgba(92,78,90,1);
          }

      }
    }


  }
}
._search{
  flex-grow: 1;
  margin : 0 auto;
  color: $inputColor;
  width: 45%;
  min-width: 400px;
  min-height: 300px;
  background-color: $bgc;
  padding:  10px 5px;

  .input-text{
    width: 70%;
    background-color: transparent;
    -webkit-appearance:none;
    outline: none;
    border : none;
    border-bottom: 1px solid $inputColor;
  }
  .form-button{

    position: relative;
    background-color: transparent;
    color: $inputColor;
    padding: 2px 10px;
    border: 1px solid $inputColor;
    border-radius: 10px;

    -webkit-appearance:none;
    outline: none;
    &:hover{

    }


  }
  .playlist{
    text-align: left;
    padding: 0px 10px;

    .video-list{
      padding-bottom: 10px;

        .video-info{
          padding: 10px 0;
          text-align: left;
          width: 65%;
          float:right;
          display: inline-block;

        }

    }
  }
}



@mixin sliderThumb() {
    &::-webkit-slider-thumb {
        @content;
    }
    &::-moz-range-thumb {
        @content;
    }
    &::-ms-thumb  {
        @content;
    }
}

@mixin sliderTrack() {
    &::-webkit-slider-runnable-track {
        @content;
    }
    &::-moz-range-track {
        @content;
    }
    &::-ms-track  {
        @content;
    }
}
.sound-panel{
  width: 20%;
  float: left;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  .sound-icon{
    padding-top:10px;
    margin: auto;
    width: 5%;
    color: white;
    &.up{
      font-size: 20px;
    }
  }
  .input-sound {

    margin: auto;
    width :80%;

  }
}



.input-progress{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  min-width: 11em;
}


.input-range {




    input[type="range"] {
        flex-grow: 1;
        line-height: 1;
        height: 2em;
        background-color: transparent;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:focus {
            outline: none;
        }
        &::-moz-focus-inner {
            border: 0;
        }
    }

    .value-display {
        color: white;
    }

    &.minimal {
        input[type="range"] {
            @include sliderThumb {
                position: relative;
                width: 1em;
                height: 1em;
                cursor: pointer;
                background-color: $inputColor;
                border: 0.2em solid white;
                border-radius: 50%;
                -webkit-appearance: none;
            }

            @include sliderTrack {
                height: 0.6em;
                border-bottom: 0.2em solid white;
            }
        }

        .value-display {
            padding-left: 0.5em;
            padding-top: 0.6em;
        }
    }



}
