
  <head>
    <title>Quentin's app</title>

  </head>

  <body>

  </body>

  <template name="base">

    {{> yield}}
  </template>



<template name="mainLayout">
{{#if currentUser}}
        <div id="body_header" class="_body_header">
          <div class="_headerText">
            Connected as {{currentUser.username}} : <a href="/" class="logout">Logout</a>
          </div>
        </div>

        <div id="body_content" class="_body_content" >


          <div class="_content_main {{# if hideChat}} full {{else}} notfull {{/if}}">

           {{> videoPlayer}}
           <div class="_arrow">
             <a id="chatArrowLefts" class="_menuArrow" href="#" style="text-align : right;"><span class="glyphicon glyphicon-menu-left"></span> </a>
           </div>


           </div>
           {{#unless hideChat}}
           {{> chat}}
           {{/unless}}

        </div>

{{/if}}



</template>

<template name="errorLayout">
  <h1>Error : you must be connected  !</h1>

</template>
